%section.page-heading
  %h1= t("main.title")
  %p= t("main.subtitle")

%section.work-area
  = form_with url: root_path, method: :get, local: true, class: "selector-form" do
    .field
      = label_tag :theme_id, t("main.theme")
      = select_tag :theme_id,
        options_from_collection_for_select(@themes, :id, :name, @theme&.id),
        onchange: "this.form.submit();"

    .field
      = label_tag :image_id, t("main.image")
      = select_tag :image_id,
        options_from_collection_for_select(@images, :id, :title, @image&.id),
        include_blank: @images.empty? ? t("main.no_images") : false,
        onchange: "this.form.submit();"

  - if @image
    .image-panel
      .image-preview
        %h2= @image.title
        = image_tag @image.file_path, alt: @image.title

      .rating-panel
        %p.average-line
          %strong= t("main.average") + ": "
          %span#average-rating= @image.average_rating || t("main.no_ratings")

        .pager
          - if @index.to_i > 0
            = link_to t("main.back"), root_path(theme_id: @theme.id, index: @index - 1), class: "button secondary"
          - else
            %span.button.secondary.disabled= t("main.back")

          - if @index.to_i < @images.size - 1
            = link_to t("main.next"), root_path(theme_id: @theme.id, index: @index + 1), class: "button secondary"
          - else
            %span.button.secondary.disabled= t("main.next")

        - if user_signed_in?
          = form_with url: api_ratings_path,
                      method: :post,
                      data: { turbo: false, success_message: t("main.rating_saved"), error_message: t("main.rating_error") },
                      id: "rating-form",
                      class: "rating-form" do
            = hidden_field_tag :image_id, @image.id, id: "image_id"

            = label_tag "rating-input", t("main.rating")
            = range_field_tag :value, 3, min: 1, max: 5, step: 1, id: "rating-input"
            .rating-scale
              %span 1
              %span 2
              %span 3
              %span 4
              %span 5
            = submit_tag t("main.rate"), id: "rate-btn", class: "button"

          %p#rating-result.status-line{ role: "status" }
        - else
          %p.auth-hint= t("main.login_to_rate_html", link: link_to(t("auth.login"), new_user_session_path))

    %section.results-section
      %h3= t("main.users_ratings")
      %table.results-table
        %thead
          %tr
            %th= t("profile.email")
            %th= t("main.rating")
        %tbody#ratings-table-body
          - if @ratings.any?
            - @ratings.each do |rating|
              %tr{ data: { user_id: rating.user_id } }
                %td= rating.user.email
                %td= rating.value
          - else
            %tr#ratings-empty-row
              %td{ colspan: 2 }= t("main.no_ratings")
  - else
    .empty-state= t("main.no_images")
