%section.auth-page
  %h1= t("auth.login")

  = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "auth-form" }) do |f|
    = render "devise/shared/error_messages", resource: resource

    .field
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: "email"

    .field
      = f.label :password
      = f.password_field :password, autocomplete: "current-password"

    - if devise_mapping.rememberable?
      .checkbox-field
        = f.check_box :remember_me
        = f.label :remember_me

    = f.submit t("auth.login"), class: "button"

  = render "devise/shared/links"
